@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Dosis', sans-serif;
    background-color: rgb(154, 236, 99);
    /* margin-right: 2rem; */
    display: flex;
    justify-content: center;
}

h1{
    margin-top: 1em;
    margin-bottom: 1em;
}

p{
   margin:1em
}

.container{
    padding: 2em;
    padding: 1em;
    margin-top:2em;
    /* float: right; */
    width: 23em;
    box-sizing: border-box;
    background-color: rgb(223, 233, 216);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    box-shadow: 0.7em 0.7em rgba(102, 102, 102, 0.219);
}
.largura{
    border-style: none;
    margin: 0.6em;
    padding: 0.7em;
    width: 90%;
}

.button{
    border-style: none;
    margin: 0.6em;
    padding: 0.7em;
    width: 90%;
    background-color: rgb(116, 194, 44);
    border-radius: 3em;
}
.button:hover{background-color: rgb(102, 179, 31);}
.button:active{
    background-color: rgb(102, 179, 31);
    box-shadow: 0 5px rgba(102, 102, 102, 0.671);
    transform: translateY(4px);
}
a{
    text-decoration: none;
    color: black;
}
